
<% include ../partials/header %>

<!-- load jQuery and tablesorter scripts -->
<script type="text/javascript" src="/path/to/jquery-latest.js"></script>
<script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script>

<!-- tablesorter widgets (optional) -->
<script type="text/javascript" src="/path/to/jquery.tablesorter.widgets.js"></script>



<div class = "container">


	 <div class= "row">
	 	<div class = "col-lg-12">
	 		<h3 class = "center"> Events </h3>

	 		<div class = "container white center roundedcorner">
	 		<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=1viu2uml6m6r4g0g8n3o87v0tc%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=America%2FVancouver" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div>

	 	</div>


	 </div>
	 



	
</div>

<% include ../partials/footer %>