body {
	background:grey ;
}

.comments {
	background:lightgrey;
}

.card img {

}

#delete-form{
	display:inline;
}

.delete-form{
	display:inline;
}

.container {

	padding: 5px;
}

.center{
	text-align: center;
}